<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">
  <targets>
    <target xsi:type="File" name="FileError" fileName="${specialfolder:folder=LocalApplicationData}/log/Error-${shortdate}.log" layout="${longdate} ${level} ${gdc:item=device} ${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="seq" />
    <logger name="*" minlevel="Error" writeTo="FileError" /> 
  </rules>
  <extensions>
    <add assembly="NLog.Targets.Seq"/>
  </extensions>
</nlog>